.color-1 {
    color: #5ebaff;
}

.color-2 {
    color: #5efff3;
}

.color-3 {
    color: #5effa2;
}

.color-4 {
    color: #6aff5e;
}

.color-5 {
    color: #bbff5e;
}

.color-6 {
    color: #fff35e;
}