* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

.color-1 {
    color: #5ebaff;
}

.color-2 {
    color: #5efff3;
}

.color-3 {
    color: #5effa2;
}

.color-4 {
    color: #6aff5e;
}

.color-5 {
    color: #bbff5e;
}

.color-6 {
    color: #fff35e;
}

a {
    text-decoration: none;
}

header {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 70px;
    z-index: 1;
    background-color: #636363;
}

.header-name {
    margin: 15px;
}

header div {
    display: inline-block;
    width: 45%;
    height: 100%;
}

#div-navbar-header {
    text-align: right;
    color: white;
}

.navbar-header li {
    display: inline-block;
    margin: 15px;
    padding: 5px;
}

.navbar-header a {
    color: white;
    margin: 0px;
    font-size: 20px;
    transition-duration: 0.6s;
}

a:hover {
    color: #6aff5e;
    font-size: 23px;
    font-weight: 200;
}

.hero-image {
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#hero-image-blog {
    background-image: url("/img/desk-g7e91cf2c6_1920.jpg");
}

#hero-image-contacto {
    background-image: url("/img/woman-g5954c5c71_1920.jpg");
}

#hero-image-inicio {
    background-image: url("/img/office-g41833b473_1920.jpg");
}

#hero-image-precios {
    background-image: url("/img/tag-g1b9c34fbd_1920.jpg");
}

#hero-image-servicios {
    background-image: url("/img/chairs-g290514caf_1920.jpg");
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text-white {
    color: white;
}

#articulos {
    margin-top: 150px;
}

h2 {
    text-align: center;
    max-width: fit;
    font-size: 25px;
    margin-bottom: 20px;
}

article {
    width: 100%;
    height: 300px;
}

.article-img {
    display: inline-block;
    width: 30%;
    text-align: right;
    padding-right: 25px;
}

img {
    height: 100px;
    max-width: 150px;
}

.article-content {
    display: inline-block;
    width: 50%;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.article-text {
    top: 50%;
    left: 50%;
    text-align: center;
    margin-bottom: 20px;
}

button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 25%;
}

.button-article {
    background-color: #5efff3;
    color: black;
}

.button-article:hover {
    background-color: #6aff5e;
    color: black;
    font-size: 18px;
}

footer {
    background-color: #303030;
    color: #5efff3;
    text-align: center;
    padding: 5px 0px;
    font-size: 14px;
}